<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_ke88yvslbvsu4n29.css" />
        <style>
        	body,html{margin: 0; padding: 0; }
            body,html,#root{height: 100%;width: 100%;}
            img{vertical-align:top;}
        </style>
    </head>
    <body>
    	<div id="root"></div>
    </body>
</html>

